<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>

    <nav class="nav-bar">
        <div class="header-one">
            <h1>David Attenborough</h1>
        </div>
        <div class="header-two">
            <a href="./about.html"><span>About</span></a>
            <a href="./works.html"><span>Works</span></a>
        </div>  
    </nav>
    <hr>
    <header>
        <script src="/public/app.js"></script>
        <img class="jungle-image" src="/Assets/Jungle-photo.jpg" alt="Jungle-photo">
        <p class="centered">This page is to educate you on the great works of David Attenborough</p>
    </header>
</body>

</html>