<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Document</title>
</head>

<body> <nav class="nav-bar">
    <div class="header-one">
        <h1> Achievements, awards and recognition</h1>
    </div>
    <div class="header-two">
        <a href="./about.html"><span>About</span></a>
        <a href="./home.html"><span>Home</span></a>
    </div>
    <hr>
</nav>
    <hr>
    <div class="achievements-together">
    <div style="display:flex;" class="achievements-one">
        <p class="achievements">Attenborough's contribution to broadcasting and wildlife film-making has brought him
            international recognition. He has been called "the great communicator, the peerless educator" and
            "the greatest broadcaster of our
            time." His programmes are often cited as an example of what public service broadcasting should be,
            even by critics of the BBC, and have influenced a generation of wildlife film-makers.
        </p>
    </div>
    <div style="display:flex;" class="achievements-two">
        <aside>
            <p>
            "He roamed the globe and shared his discoveries and enthusiasms with his patented semi-whisper way of
            narrating. He talks like he's revealing secrets and draws you in using such simple language that he's
            instantly understood, making his sense of wonder infectious. And when he goes on site to share the
            screen with one of his subjects, it's magical.""
            —NPR review of Attenborough's Journey' Salutes The Broadcaster With A Passion For Nature
        </p>
        </aside>
    </div>
</div>
</body>

</html>